/* Styling for the index page, maybe the rest of the pages
 Done by Trishelle Leal */

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: medium;
  font-weight: normal;
  background-color: whitesmoke;

        }
        h1 {
            text-align: center;
        }
        .tracker-form {
            max-width: 500px;
            margin: 0 auto 20px;
            background: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
        input, button {
            width: 100%;
            padding: 10px;
            margin-top: 10px;
            font-size: 16px;
        }
        table {
            width: 100%;
            margin-top: 20px;
            background: white;
            border-collapse: collapse;
        }
        th, td {
            padding: 12px;
            text-align: center;
            border: 1px solid #ddd;
        }
        .menu ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #2F2626;
          
          }
          
          ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
          }
          
          nav ul li:hover {
            background-color: rgb(34, 75, 20);
          }
          
          .active {
            background-color: #4fb92f;
            color: white;
          }
          
          
          
          a {
            display: block;
            padding: 8px;
            background-color: #2a2f26;
            font-size: 1em !important;
          }
          
          li a {
            font-family: Arial, Helvetica, sans-serif;
            display: block;
            color: white;
            font-weight: bold;
            text-align: center;
            padding: 6px 55px;
            text-decoration: none;
          }
          
          li a:hover {
            background-color: #000;
            color: white;
          }
          
          .topnav a.icon {
            background: black;
            display: block;
            position: absolute;
            right: 0;
            top: 0;
          }
          